.post {
    box-shadow: 1px 1px 3px 0px;
}
.post .more-vert-btn {
    position: absolute;
    right: 10px;
}
.post-actions {
    width: 100%;
}
::ng-deep .igx-card-actions__buttons {
    width: 100%;
}
.post-content {
    text-align: justify;
}
.action-btn{
    width: 33%;
    margin: 0;
}
.post-header {
    position: relative;
}
::ng-deep .tab-item .igx-list__item-base {
    background: white;
}
::ng-deep .tab-item .igx-list__item-base:hover{
    background: whitesmoke;
}
::ng-deep .igx-avatar--large {
    height: 200px;
    width: 200px;
    border: 5px solid #20c997;
}
.stt-btn {
    font-size: 13px;
    padding: 0;
}

.user-avatar-header-card {
    position: absolute;
    width: 100%;
    top: 150px;
    background: none;
}

.user-background-header-card {
    height: 300px;
}
::ng-deep .igx-avatar--small {
    margin-right: 10px ;
}
.tab-item {

}

.album-thumb {
    width: 24%;
    margin-right: 10px;
}

.name {
    color: black;
}

.friends-item {
    position: relative;
}

.friends-item .more-vert-btn {
    position: absolute;
    right: 0;
}

.blocked, .unfollow {
    color: red;
}
