<igx-card class="content-container">
    <igx-card style="position: relative;min-height: 425px;box-shadow: 0 0 0;">
        <igx-card class="user-background-header-card">
            <igx-card-media>
                <img src="../../../assets/img/img-1.jpg">
            </igx-card-media>
        </igx-card>
        <igx-card class="user-avatar-header-card ">
            <igx-card-header style="text-align: center;">
                <igx-avatar size="large" src="../../../assets/img/user.png" roundShape="true"></igx-avatar>
                <h2 style="margin-top: 140px;"><a href="#">Hiếu Phạm</a></h2>
            </igx-card-header>
        </igx-card>
    </igx-card>
    <igx-tabs>
        <igx-tabs-group label="Home">
            <igx-card>
                <igx-card-header>
                    <!-- <img src="../../../assets/img/user.png" alt=""> -->
                    <igx-avatar src="../../../assets/img/user.png" roundShape="true"></igx-avatar>
                    <h6><a href="#">Hiếu Phạm</a></h6>
                    <igx-input-group style="width: 100%;">
                        <input type="textarea" #input1 igxInput placeholder="What do you think ?" />
                    </igx-input-group>
                </igx-card-header>
                <igx-card-actions style="position: relative;">
                    <button igxButton="raised" class="stt-btn" igxButtonColor="white"
                        igxButtonBackground="red">Cancel</button>
                    <button style="position: absolute; right: .5em;" class="stt-btn" igxButton="raised"
                        igxButtonColor="white" igxButtonBackground="#007bff">Post</button>
                </igx-card-actions>
            </igx-card>

            <igx-card class="post">
                <igx-card-header class="post-header">
                    <!-- <img src="../../../assets/img/user.png" alt=""> -->
                    <igx-avatar src="../../../assets/img/user.png" roundShape="true"></igx-avatar>
                    <h6><a href="#">Hiếu Phạm</a></h6>
                    <button class="more-vert-btn" igxButton="icon" igxRipple igxRippleCentered="true">
                        <igx-icon fontSet="material">more_vert</igx-icon>
                    </button>
                    <!-- <igx-icon class="post-icon">keyboard_arrow_down</igx-icon> -->
                </igx-card-header>
                <igx-card-content >
                    <div class="post-container">
                        <p class="post-content">
                            Any image or video we want to show in the card, we wrap inside the igx-card-media tags.
                            The igx-card-media allows us to size the content placed inside via the width and height
                            attributes.
                            In the example above we provided just height, which would leave the width to auto, thus
                            allowing
                            the
                            image to stretch across the entire card surface, while maintaining the set height.
                            Any image or video we want to show in the card, we wrap inside the igx-card-media tags.
                            The igx-card-media allows us to size the content placed inside via the width and height
                            attributes.
                            In the example above we provided just height, which would leave the width to auto, thus
                            allowing
                            the
                            image to stretch across the entire card surface, while maintaining the set height.
                        </p>
                    </div>
                    <igx-card-media>
                        <img src="../../../assets/img/img-1.jpg">
                    </igx-card-media>
                </igx-card-content>
                <igx-card-actions class="post-actions">
                    <button class="action-btn" igxButton="outlined" igxButtonColor="black" igxButtonBackground="white">
                        <igx-icon fontSet="material">thumb_up</igx-icon>
                    </button>
                    <button class="action-btn" igxButton="outlined" igxButtonColor="black" igxButtonBackground="white">
                        <igx-icon fontSet="material">comment</igx-icon>
                    </button>
                    <button class="action-btn" igxButton="outlined" igxButtonColor="black" igxButtonBackground="white">
                        <igx-icon fontSet="material">screen_share</igx-icon>
                    </button>
                </igx-card-actions>
            </igx-card>
        </igx-tabs-group>
        <igx-tabs-group label="My friends">
            <igx-card>
                <igx-card-header>
                    <igx-input-group type="search" style="width:100%;">
                        <input #friendInput igxInput placeholder="Find your friends" />
                        <igx-suffix>
                            <igx-icon id="search-ico" style="color: black;">search</igx-icon>
                        </igx-suffix>
                    </igx-input-group>
                </igx-card-header>
                <igx-card-content>
                    <igx-list class="tab-item">
                        <igx-list-item [isHeader]="true">Friends</igx-list-item>
                        
                        <igx-list-item class="friends-item" igxRipple="black" igxRippleTarget=".igx-list__item-content" *ngFor="let friend of friends">
                                <igx-avatar igxListThumbnail [src]="friend.avatar" roundShape="true"></igx-avatar>
                                <button igxButton="flat" class="name">{{friend.name}}</button>
                                <div class="more-vert-btn">
                                    <button (click)="changeFollowStatus(friend.id)" [ngClass]="{'unfollow': friend.status.follow ==='false'}"  igxButton="icon" igxRipple igxRippleCentered="true">
                                        <igx-icon fontSet="material">{{friend.status.follow ==='false' ? 'visibility_off' : 'visibility'}}</igx-icon>
                                    </button>
                                    <button (click)="changeBlockStatus(friend.id)" [ngClass]="{'blocked': friend.status.block ==='true'}" igxButton="icon" igxRipple igxRippleCentered="true">
                                        <igx-icon fontSet="material">block</igx-icon>
                                    </button>
                                    
                                    <button (click)="unfriendsDialog.open()" (click)="setDeleteTmpId(friend.id)" igxButtonColor="red" igxButton="icon" igxRipple igxRippleCentered="true">
                                        <igx-icon fontSet="material">remove_circle_outline</igx-icon>
                                    </button>
                                </div>
                                
                                <hr>
                        </igx-list-item>
                
                        <!-- <igx-snackbar actionText="Undo" (onAction)="restore()">Contact deleted</igx-snackbar> -->
                    </igx-list>
                </igx-card-content>
            </igx-card>
        </igx-tabs-group>
        <igx-tabs-group label="Groups">
            <igx-card>
                <igx-card-header>
                    <igx-input-group type="search" style="width:100%;">
                        <input #friendInput igxInput placeholder="Find your groups" />
                        <igx-suffix>
                            <igx-icon id="search-ico" style="color: black;">search</igx-icon>
                        </igx-suffix>
                    </igx-input-group>
                </igx-card-header>
                <igx-card-content>
                    <igx-list class="tab-item">
                        <igx-list-item [isHeader]="true">Groups</igx-list-item>
                
                        <igx-list-item class="friends-item" igxRipple="black" igxRippleTarget=".igx-list__item-content" *ngFor="let group of groups">
                                <igx-avatar igxListThumbnail [src]="group.avatar" roundShape="true"></igx-avatar>
                                <button igxButton="flat" class="name">{{group.name}}</button>
                                <button (click)="leavesGroupDialog.open()" (click)="setDeleteTmpId(group.id)" igxButtonColor="red" class="more-vert-btn" igxButton="icon" igxRipple igxRippleCentered="true">
                                    <igx-icon fontSet="material">exit_to_app</igx-icon>
                                </button>
                                <hr>
                        </igx-list-item>
                
                        <!-- <igx-snackbar actionText="Undo" (onAction)="restore()">Contact deleted</igx-snackbar> -->
                    </igx-list>
                </igx-card-content>
            </igx-card>
        </igx-tabs-group>
        <igx-tabs-group label="Albums">
            <igx-card>
                <igx-card-header style="display: flex;flex-wrap: wrap;">
                    <igx-card class="album-thumb">
                        <igx-card-media height="100px">
                            <img src="../../../assets/img/img-1.jpg">
                        </igx-card-media>
                        <igx-card-header>
                            <h6 igxCardHeaderTitle><a>Avatars</a></h6>
                            <span igxCardHeaderSubtitle>1 images</span>
                        </igx-card-header>
                    </igx-card>
                    <igx-card class="album-thumb">
                        <igx-card-media height="100px">
                            <img src="../../../assets/img/img-2.jpg">
                        </igx-card-media>
                        <igx-card-header>
                            <h6 igxCardHeaderTitle><a>Backgrounds</a></h6>
                            <span igxCardHeaderSubtitle>10 images</span>
                        </igx-card-header>
                    </igx-card>
                    <igx-card class="album-thumb">
                        <igx-card-media height="100px">
                            <img src="../../../assets/img/img-3.jpg">
                        </igx-card-media>
                        <igx-card-header>
                            <h6 igxCardHeaderTitle><a>Myth</a></h6>
                            <span igxCardHeaderSubtitle>1 images</span>
                        </igx-card-header>
                    </igx-card>
                </igx-card-header>
            </igx-card>
            
        </igx-tabs-group>
    </igx-tabs>
    <igx-dialog #unfriendsDialog title="Confirmation"
        leftButtonLabel="Cancel"
        (onLeftButtonSelect)="unfriendsDialog.close()"
        rightButtonLabel="OK"
        closeOnOutsideSelect="true"
        (onRightButtonSelect)="confirmUnfriend($event)"
        message="Are you sure you want to unfriend ?">
    </igx-dialog>
    <igx-dialog #leavesGroupDialog title="Confirmation"
        leftButtonLabel="Cancel"
        (onLeftButtonSelect)="leavesGroupDialog.close()"
        rightButtonLabel="OK"
        closeOnOutsideSelect="true"
        (onRightButtonSelect)="confirmLeaveGroup($event)"
        message="Leave group ?">
    </igx-dialog>
</igx-card>