<div class="container-fluid" style="background: #f7f5f5;">
    <div class="navbar" igxLayout>
        <igx-navbar style="width: 100%;" title="H" igxFlex>
            <igx-input-group type="search">
                <input #input1 igxInput placeholder="Search" />
                <igx-suffix>
                    <igx-icon id="search-ico" style="color: black;">search</igx-icon>
                </igx-suffix>
            </igx-input-group>
            <div>
                <igx-avatar src="../../../assets/img/user.png" roundShape="true" size="small"></igx-avatar>
                <a (click)="navigate()" style="color: white;">Hiếu Phạm</a>
            </div>
            <igx-icon fontSet="material">notification_important</igx-icon>
            <igx-icon fontSet="material">swap_horiz</igx-icon>
            <igx-icon fontSet="material">chevron_right</igx-icon>
        </igx-navbar>
    </div>
    <div class="content-wrap">
        <igx-card class="menu" >
            <igx-list>
                <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content">Home</igx-list-item>
                <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content">News Feed</igx-list-item>
                <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content">Your Group</igx-list-item>
                <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content">Messenger</igx-list-item>
            </igx-list>
        </igx-card>
        <div class="content-container">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>