<div class="container-fluid" style="background: #f7f5f5;">
    <div class="navbar"  igxLayout style="display:flex">
        <igx-navbar title="H" style="width: 100%;"  igxFlex>
            <igx-input-group type="search">
                <input #input1 igxInput placeholder="Search" />
                <igx-suffix>
                    <igx-icon id="search-ico" style="color: black;">search</igx-icon>
                </igx-suffix>
            </igx-input-group>
            <a class="navbar-link" href="/newsfeed">
                <igx-icon fontSet="material" #target="tooltipTarget" [igxTooltipTarget]="tooltipRef">event_note</igx-icon>
                <span class="icon-span">
                    NewsFeed
                </span>
            </a>
            <a class="navbar-link" (click)="profileNavigate()">
                <igx-avatar src="../../assets/img/user.png" style="width: 25px; height: 25px; min-width: 25px;" roundShape="true"></igx-avatar>
                <span class="icon-span">
                    Profile
                </span>
            </a>
            <a class="navbar-link" href="#">
                <igx-icon fontSet="material" #target="tooltipTarget" [igxTooltipTarget]="tooltipRef">notification_important</igx-icon>
                <span class="icon-span">
                    Notify
                </span>
            </a>
            <a class="navbar-link" href="#">
                <igx-icon fontSet="material" #target="tooltipTarget" [igxTooltipTarget]="tooltipRef">swap_horiz</igx-icon>
                <span class="icon-span">
                    Switch account
                </span>
            </a>
            <a class="navbar-link" href="#" (click)="logout()">
                <igx-icon fontSet="material" #target="tooltipTarget" [igxTooltipTarget]="tooltipRef">exit_to_app</igx-icon>
                <span class="icon-span">
                    Logout
                </span>
            </a>
            
        </igx-navbar>
    </div>
    <div class="content-wrap">
        <igx-card class="menu" style="background: #1d4242;height: 100vh;position: sticky;top: 56px;">
            <igx-list>
                <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content">Home</igx-list-item>
                <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content">News Feed</igx-list-item>
                <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content">Your Group</igx-list-item>
                <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content">Messenger</igx-list-item>
            </igx-list>
        </igx-card>
        <div class="content-container">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>